@charset "UTF-8";
/* CSS Document */
/* base css */
/*/////////// layout ////////////*/
/* line 5, ../scss/_base.scss */
.strong {
  color: #da0000; }

/* line 9, ../scss/_base.scss */
.small {
  font-size: 12px; }

/* line 13, ../scss/_base.scss */
.floatL {
  float: left; }

/* line 17, ../scss/_base.scss */
.floatR {
  float: right; }

/* line 49, ../scss/_vars.scss */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

/* line 50, ../scss/_vars.scss */
.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

/* line 51, ../scss/_vars.scss */
.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

/* line 52, ../scss/_vars.scss */
.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

/* line 49, ../scss/_vars.scss */
.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

/* line 50, ../scss/_vars.scss */
.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

/* line 51, ../scss/_vars.scss */
.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

/* line 52, ../scss/_vars.scss */
.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

/* line 49, ../scss/_vars.scss */
.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

/* line 50, ../scss/_vars.scss */
.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

/* line 51, ../scss/_vars.scss */
.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

/* line 52, ../scss/_vars.scss */
.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

/* line 49, ../scss/_vars.scss */
.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

/* line 50, ../scss/_vars.scss */
.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

/* line 51, ../scss/_vars.scss */
.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

/* line 52, ../scss/_vars.scss */
.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

/* line 49, ../scss/_vars.scss */
.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

/* line 50, ../scss/_vars.scss */
.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

/* line 51, ../scss/_vars.scss */
.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

/* line 52, ../scss/_vars.scss */
.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

/* line 49, ../scss/_vars.scss */
.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

/* line 50, ../scss/_vars.scss */
.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

/* line 51, ../scss/_vars.scss */
.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

/* line 52, ../scss/_vars.scss */
.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

/* line 49, ../scss/_vars.scss */
.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

/* line 50, ../scss/_vars.scss */
.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

/* line 51, ../scss/_vars.scss */
.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

/* line 52, ../scss/_vars.scss */
.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

/* line 49, ../scss/_vars.scss */
.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

/* line 50, ../scss/_vars.scss */
.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

/* line 51, ../scss/_vars.scss */
.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

/* line 52, ../scss/_vars.scss */
.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

/* line 49, ../scss/_vars.scss */
.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

/* line 50, ../scss/_vars.scss */
.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

/* line 51, ../scss/_vars.scss */
.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

/* line 52, ../scss/_vars.scss */
.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

/* line 49, ../scss/_vars.scss */
.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

/* line 50, ../scss/_vars.scss */
.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

/* line 51, ../scss/_vars.scss */
.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

/* line 52, ../scss/_vars.scss */
.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
/* line 30, ../scss/_base.scss */
a {
  color: #444444;
  text-decoration: none; }
  /* line 29, ../scss/_vars.scss */
  a:hover, a:active, a:focus {
    color: #777777; }

/* line 35, ../scss/_base.scss */
a:link {
  color: #333333; }

/* line 38, ../scss/_base.scss */
a:visited {
  color: #333333; }

/* line 41, ../scss/_base.scss */
a:hover {
  color: #f45145; }

/* line 45, ../scss/_base.scss */
a:hover img {
  opacity: 0.7; }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
/* line 59, ../scss/_base.scss */
.clear {
  clear: both; }

/* clearfix css */
/* line 64, ../scss/_base.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/* line 71, ../scss/_base.scss */
.clearfix {
  min-height: 1px; }

/* line 74, ../scss/_base.scss */
* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/*/////////// front-page ////////////*/
/*/////////// flow-page ////////////*/
/* line 11, ../scss/layout.scss */
.flow_steps_bg {
  background: transparent url("../img/under/flow_steps_bg.jpg") no-repeat 0 0 scroll;
  height: 250px;
  padding: 60px 20px 0px; }
  /* line 15, ../scss/layout.scss */
  .flow_steps_bg p {
    margin-bottom: 15px; }
  /* line 18, ../scss/layout.scss */
  .flow_steps_bg ul {
    list-style: none;
    float: right; }
    /* line 21, ../scss/layout.scss */
    .flow_steps_bg ul li {
      display: inline; }

/*/////////// company-page ////////////*/
/* line 27, ../scss/layout.scss */
.company-text {
  text-align: justify; }

/* line 30, ../scss/layout.scss */
.company-table-content, .history-table-content {
  margin-bottom: 40px;
  border-collapse: collapsed;
  width: 100%; }
  /* line 35, ../scss/layout.scss */
  .company-table-content tr th, .history-table-content tr th, .company-table-content tr td, .history-table-content tr td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; }
  /* line 41, ../scss/layout.scss */
  .company-table-content tr th, .history-table-content tr th {
    width: 15%;
    background-color: #f4f4f4;
    font-weight: normal; }

/*/////////// faq-page ////////////*/
/* line 51, ../scss/layout.scss */
#faq1 .faq1-content {
  padding: 0px 20px; }
  /* line 54, ../scss/layout.scss */
  #faq1 .faq1-content .faq1-row .faq1-row-content {
    padding: 0px 0px 30px 20px; }

/*/////////// contact-page ////////////*/
/* line 59, ../scss/layout.scss */
.contact-content {
  background-color: #E8EEF9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  line-height: 40px;
  margin-bottom: 20px;
  cursor: pointer; }
  /* line 67, ../scss/layout.scss */
  .contact-content .contact-title {
    color: #595858; }
    /* line 69, ../scss/layout.scss */
    .contact-content .contact-title .contact-alert {
      padding: 5px;
      background-color: #ff8080;
      color: white;
      margin: 5px;
      font-weight: normal; }

/* line 78, ../scss/layout.scss */
.contact-content:last-child {
  margin-top: 0; }

/* line 81, ../scss/layout.scss */
.contact-content:hover {
  background-color: #FFEEEE; }

/* wpcf7 */
/* line 87, ../scss/layout.scss */
.wpcf7 input, .wpcf7 select, .wpcf7 textarea {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-size: 15px;
  line-height: normal; }
/* line 96, ../scss/layout.scss */
.wpcf7 .wpcf7-validation-errors, .wpcf7 .wpcf7-not-valid-tip {
  color: #fff;
  padding: 8px 12px 6px;
  position: relative;
  display: block;
  background-color: #f00;
  left: 0;
  top: 8px;
  margin-bottom: 8px;
  clear: both;
  border-radius: 5px;
  border: none; }
/* line 110, ../scss/layout.scss */
.wpcf7 .require {
  color: #F66; }
/* line 113, ../scss/layout.scss */
.wpcf7 .contact-btn {
  text-align: center;
  margin: 20px 0; }
/* line 117, ../scss/layout.scss */
.wpcf7 .wpcf7-confirm {
  background-color: #d90000;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 18px;
  padding: 10px 0;
  text-shadow: 0px 1px 0px #154682; }
/* line 128, ../scss/layout.scss */
.wpcf7 table {
  font-size: 13px;
  width: 100%;
  margin: 20px auto 0 auto;
  border: 1px solid #cccccc; }
  /* line 133, ../scss/layout.scss */
  .wpcf7 table input {
    margin: 3px 0px;
    font-size: 13px;
    line-height: 13px; }
  /* line 138, ../scss/layout.scss */
  .wpcf7 table tr th, .wpcf7 table td {
    border: 1px solid #cccccc; }
  /* line 141, ../scss/layout.scss */
  .wpcf7 table th {
    max-width: 100%;
    text-align: left;
    background: #eee;
    padding: 10px;
    vertical-align: middle; }
  /* line 149, ../scss/layout.scss */
  .wpcf7 table td {
    padding: 10px;
    vertical-align: middle; }

/*-----  page-blog  ----*/
/* line 158, ../scss/layout.scss */
.post-row-content .blog-btnrm {
  float: right; }
  /* line 160, ../scss/layout.scss */
  .post-row-content .blog-btnrm a {
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #444444;
    color: white; }
  /* line 166, ../scss/layout.scss */
  .post-row-content .blog-btnrm a:hover {
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #444444;
    border: 1px solid #444444; }
/* line 175, ../scss/layout.scss */
.post-row-content .post-row-meta .fa {
  padding: 0 5px 0 20px; }
/* line 178, ../scss/layout.scss */
.post-row-content .post-row-meta .fa:first-child {
  padding-right: 5px;
  padding-left: 0; }
/* line 183, ../scss/layout.scss */
.post-row-content .post-row-meta .blog-category a {
  color: #444444; }
/* line 186, ../scss/layout.scss */
.post-row-content .blog-content {
  margin-top: 5px; }

/* line 190, ../scss/layout.scss */
.navigation {
  margin-top: 15px; }
  /* line 192, ../scss/layout.scss */
  .navigation a {
    color: #444444; }
  /* line 193, ../scss/layout.scss */
  .navigation a:hover {
    color: #333333; }

/* line 195, ../scss/layout.scss */
.wp-pagenavi {
  margin: 15px 0 60px;
  text-align: center; }
  /* line 198, ../scss/layout.scss */
  .wp-pagenavi .pages, .wp-pagenavi .page, .wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink {
    background-color: #d90000;
    color: #fff; }
  /* line 206, ../scss/layout.scss */
  .wp-pagenavi span.current {
    border-color: #d90000 !important;
    color: #d90000; }

/*/////////// pallet-page ////////////*/
/* line 215, ../scss/layout.scss */
.pallet-main1 .pallet-main1-img {
  text-align: center;
  margin-bottom: 20px; }
/* line 219, ../scss/layout.scss */
.pallet-main1 .pallet-main1-text1, .pallet-main1 .pallet-main1-text2, #wrapper.md .pallet-main1 .pallet-main1-text2, #wrapper.sm .pallet-main1 .pallet-main1-text2, #wrapper.xs .pallet-main1 .pallet-main1-text2 {
  text-align: center;
  color: #d90000;
  font-size: 28px;
  font-weight: bold; }
/* line 227, ../scss/layout.scss */
.pallet-main1 .pallet-main1-text2 {
  padding-top: 30px;
  font-size: 48px; }
/* line 232, ../scss/layout.scss */
.pallet-main1 .pallet-main1-text3 {
  text-align: center;
  padding: 35px 0 20px;
  line-height: 1.8em; }

/* line 239, ../scss/layout.scss */
.pallet-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #d90000;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

/* line 252, ../scss/layout.scss */
.pallet-main2 .pallet-main2-point {
  color: #d90000;
  display: inline-block;
  padding-right: 20px;
  font-size: 25px;
  border-bottom: 2px solid #d90000;
  font-family: 'Share Tech Mono';
  margin-bottom: 10px; }
/* line 261, ../scss/layout.scss */
.pallet-main2 .pallet-main2-title {
  text-align: left;
  padding: 5px 0 10px;
  font-size: 20px;
  font-weight: bold; }
/* line 269, ../scss/layout.scss */
.pallet-main2 .pallet-main2-text {
  line-height: 1.8em;
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 5px; }

/* line 278, ../scss/layout.scss */
.pallet-main3 .pallet-main3-img {
  text-align: center; }
/* line 281, ../scss/layout.scss */
.pallet-main3 .pallet-main3-title {
  text-align: center;
  text-shadow: 0 1px white;
  padding: 0 5px;
  margin: 10px 0;
  color: #d90000;
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 29px; }
/* line 292, ../scss/layout.scss */
.pallet-main3 .pallet-main3-text {
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 5px; }

/*/////////// pladan-page ////////////*/
/* line 303, ../scss/layout.scss */
.pladan-main1 .pladan-main1-img {
  text-align: center;
  margin-bottom: 20px; }
/* line 307, ../scss/layout.scss */
.pladan-main1 .pladan-main1-text1, .pladan-main1 .pladan-main1-text2, #wrapper.md .pladan-main1 .pladan-main1-text2, #wrapper.sm .pladan-main1 .pladan-main1-text2, #wrapper.xs .pladan-main1 .pladan-main1-text2 {
  text-align: center;
  color: #d90000;
  font-size: 28px;
  font-weight: bold; }
/* line 315, ../scss/layout.scss */
.pladan-main1 .pladan-main1-text2 {
  padding-top: 30px;
  font-size: 48px; }
/* line 320, ../scss/layout.scss */
.pladan-main1 .pladan-main1-text3 {
  text-align: center;
  padding: 35px 0 20px;
  line-height: 1.8em; }

/* line 327, ../scss/layout.scss */
.pladan-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #d90000;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

/* line 339, ../scss/layout.scss */
.pladan-main2 {
  margin-left: 0;
  margin-bottom: 30px; }
  /* line 342, ../scss/layout.scss */
  .pladan-main2 .pladan-main2-point {
    color: #d90000;
    display: inline-block;
    font-size: 25px;
    border-bottom: 2px solid #d90000;
    font-family: 'Share Tech Mono';
    padding-left: 0px !important; }
  /* line 350, ../scss/layout.scss */
  .pladan-main2 .pladan-main2-text {
    padding-left: 20px !important;
    font-size: 20px; }

/* line 357, ../scss/layout.scss */
.pladan-main3 .pladan-main3-img {
  text-align: center; }
/* line 360, ../scss/layout.scss */
.pladan-main3 .pladan-main3-title {
  text-align: center;
  padding: 0 5px;
  margin: 10px 0;
  font-size: 14px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 29px; }
/* line 369, ../scss/layout.scss */
.pladan-main3 .pladan-main3-text {
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 5px;
  font-size: 18px;
  color: #d90000;
  text-shadow: 0 1px white;
  line-height: 1.4em;
  font-weight: bold; }

/*/////////// kyoto-page ////////////*/
/* line 384, ../scss/layout.scss */
.kyoto-main1 .kyoto-main1-img {
  text-align: center;
  margin-bottom: 20px; }
/* line 388, ../scss/layout.scss */
.kyoto-main1 .kyoto-main1-title {
  text-align: center;
  color: #d90000;
  padding-top: 20px;
  font-size: 48px;
  font-weight: bold; }
/* line 397, ../scss/layout.scss */
.kyoto-main1 .kyoto-main1-text1 {
  text-align: center;
  padding-top: 30px;
  line-height: 1.8em; }

/* line 403, ../scss/layout.scss */
.kyoto-title1 {
  color: #d90000;
  font-size: 30px;
  margin-bottom: 25px; }

/* line 408, ../scss/layout.scss */
.kyoto-text1, .kyoto-text2 {
  line-height: 1.8em;
  margin-bottom: 20px; }

/* line 412, ../scss/layout.scss */
.kyoto-title2 {
  padding: 8px 0;
  text-shadow: 0 1px white;
  color: #d90000;
  font-size: 16px;
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

/* line 422, ../scss/layout.scss */
.kyoto-slider-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #d90000;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

/* line 433, ../scss/layout.scss */
.kyoto-slider img {
  padding: 5px; }

/* line 434, ../scss/layout.scss */
.kyoto-map {
  margin-top: 40px; }

/*/////////// strength-page ////////////*/
/* line 440, ../scss/layout.scss */
.strength-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #d90000;
  margin-bottom: 20px;
  line-height: 1.8em;
  font-size: 30px;
  font-weight: bold; }

/* line 453, ../scss/layout.scss */
.strength-top-content {
  margin-bottom: 30px; }
  /* line 456, ../scss/layout.scss */
  .strength-top-content .strength-info .strength-top-title {
    text-shadow: 0 1px #ffffff;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-left: 3px solid #d90000;
    font-size: 18px;
    font-weight: bold; }

/* line 471, ../scss/layout.scss */
.strength-content1-bg {
  background-color: #f0efef;
  padding: 70px 0 40px; }

/* line 477, ../scss/layout.scss */
.strength-content1 .strength-content1-img {
  text-align: center; }
/* line 480, ../scss/layout.scss */
.strength-content1 .strength-content1-title {
  text-shadow: 0 1px #ffffff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 15px;
  background-color: #f4f4f4;
  border-left: 3px solid #d90000;
  font-size: 18px;
  font-weight: bold; }
/* line 490, ../scss/layout.scss */
.strength-content1 .strength-content1-text {
  line-height: 1.8em;
  text-align: justify;
  margin-bottom: 20px;
  padding: 0px 5px;
  font-size: 12px; }

/* line 499, ../scss/layout.scss */
.strength-content2 {
  margin-top: 30px; }

/* line 503, ../scss/layout.scss */
.strength-content3 {
  margin-bottom: 30px; }

/* line 507, ../scss/layout.scss */
.strength-content2-text, .strength-content3-text {
  text-align: center;
  line-height: 1.8em;
  padding-bottom: 20px; }

/* line 512, ../scss/layout.scss */
.strength-content2-img, .strength-content3-img {
  padding-bottom: 20px;
  text-align: center; }

/*/////////// greeting-page ////////////*/
/* line 519, ../scss/layout.scss */
.greeting-content .greeting-content-title {
  color: #d90000;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px; }
/* line 526, ../scss/layout.scss */
.greeting-content .greeting-content-text {
  text-align: center;
  line-height: 1.8em; }

/*/////////// history-page ////////////*/
/*/////////// quality-page ////////////*/
/* line 538, ../scss/layout.scss */
.quality-content2 {
  margin: 10px 0;
  line-height: 1.8em; }

/* line 543, ../scss/layout.scss */
.quality-content3-text .quality-content3-text-space {
  padding-top: 20px;
  line-height: 1.8em; }

/*/////////// workshop-page ////////////*/
/* line 550, ../scss/layout.scss */
.workshop-main1 .workshop-main1-img {
  text-align: center;
  margin-bottom: 20px; }
/* line 554, ../scss/layout.scss */
.workshop-main1 .workshop-main1-title {
  text-align: center;
  color: #d90000;
  padding-top: 20px;
  font-size: 48px;
  font-weight: bold; }
/* line 561, ../scss/layout.scss */
.workshop-main1 .workshop-main1-text1 {
  text-align: center;
  padding-top: 30px;
  line-height: 1.8em; }

/* line 568, ../scss/layout.scss */
.workshop-title1 {
  color: #d90000;
  font-size: 30px;
  margin-bottom: 25px; }

/* line 573, ../scss/layout.scss */
.workshop-text1, .workshop-text2 {
  line-height: 1.8em;
  margin-bottom: 20px; }

/* line 577, ../scss/layout.scss */
.workshop-title2 {
  padding: 8px 0;
  text-shadow: 0 1px white;
  color: #d90000;
  font-size: 16px;
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

/* line 586, ../scss/layout.scss */
.workshop-slider-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #d90000;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

/* line 595, ../scss/layout.scss */
.workshop-slider img {
  padding: 5px; }

/* line 598, ../scss/layout.scss */
.workshop-map {
  margin-top: 40px; }

/* line 602, ../scss/layout.scss */
.dishes-row {
  margin: 20px 0; }

/* line 606, ../scss/layout.scss */
#map_area {
  height: 320px;
  width: 100%; }
  /* line 609, ../scss/layout.scss */
  #map_area iframe {
    height: 320px;
    width: 100%; }

@media all and (max-width: 640px) {
  /* line 615, ../scss/layout.scss */
  #map_area {
    height: 320px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; }
    /* line 621, ../scss/layout.scss */
    #map_area iframe {
      height: 320px;
      width: 80%; } }
@media all and (min-width: 640px) {
  /* line 628, ../scss/layout.scss */
  #map_area {
    height: 320px;
    width: 100%; }
    /* line 631, ../scss/layout.scss */
    #map_area iframe {
      height: 250px;
      width: 100%; } }
/* common css */
/* line 5, ../scss/_common.scss */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
/* line 13, ../scss/_common.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

/* line 18, ../scss/_common.scss */
#wrapper.lg .container {
  max-width: 960px;
  margin: 0 auto; }

/* line 22, ../scss/_common.scss */
#wrapper.ie .container {
  width: 980px; }

/* line 26, ../scss/_common.scss */
p {
  margin: 0px; }

/* line 28, ../scss/_common.scss */
a:hover {
  text-decoration: none; }

@media screen and (max-width: 640px) {
  /* line 31, ../scss/_common.scss */
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 640px) and (max-width: 992px) {
  /* line 34, ../scss/_common.scss */
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 37, ../scss/_common.scss */
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  /* line 40, ../scss/_common.scss */
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
RESPONSIVE LAYOUT
-----------------------------------------------------------------*/
/*$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;
*/
/* header */
/* line 52, ../scss/_common.scss */
#wrapper img {
  max-width: 100%; }

/* line 57, ../scss/_common.scss */
#top-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #FFF; }

/* line 64, ../scss/_common.scss */
#top {
  border-top: 3px solid #d90000; }
  /* line 66, ../scss/_common.scss */
  #top .top-text {
    line-height: 25px;
    color: #333333;
    font-size: 14px; }

/*-- top --*/
/* line 74, ../scss/_common.scss */
header #header {
  padding: 15px 0; }
  /* line 77, ../scss/_common.scss */
  header #header #headerContent .logo {
    float: left; }
    /* line 79, ../scss/_common.scss */
    header #header #headerContent .logo img {
      max-width: 100%; }
  /* line 83, ../scss/_common.scss */
  header #header #headerContent .header-contact {
    float: right;
    padding-top: 10px; }
    /* line 86, ../scss/_common.scss */
    header #header #headerContent .header-contact .headtxt {
      font-size: 11px;
      text-align: right; }
    /* line 90, ../scss/_common.scss */
    header #header #headerContent .header-contact .headtel {
      font-size: 24px;
      color: #d90000; }
  /* line 96, ../scss/_common.scss */
  header #header #headerContent .fa {
    display: none; }
  @media screen and (max-width: 640px) {
    /* line 99, ../scss/_common.scss */
    header #header #headerContent .logo {
      float: none; }
    /* line 102, ../scss/_common.scss */
    header #header #headerContent .header-contact {
      display: none; }
    /* line 105, ../scss/_common.scss */
    header #header #headerContent .fa {
      display: block;
      font-size: 47px;
      position: absolute;
      right: 60px;
      top: 0;
      color: #d90000; } }

/*-- header --*/
/* line 118, ../scss/_common.scss */
#slider-banner {
  padding-top: 169px;
  margin: 0 auto; }
  /* line 121, ../scss/_common.scss */
  #slider-banner .bx-wrapper {
    margin: 0 auto; }
    /* line 123, ../scss/_common.scss */
    #slider-banner .bx-wrapper .bx-viewport {
      left: 0;
      border: none;
      box-shadow: none; }

/* line 131, ../scss/_common.scss */
#slider-banner .item img {
  margin: 0 auto; }

/* line 135, ../scss/_common.scss */
#page-feature {
  padding-top: 169px; }
  /* line 137, ../scss/_common.scss */
  #page-feature .page-feature-content {
    text-align: center;
    position: relative; }
    /* line 140, ../scss/_common.scss */
    #page-feature .page-feature-content .feature-title {
      position: absolute;
      font-size: 30px;
      text-shadow: 0 1px #333;
      color: white;
      top: -100px; }

/* line 150, ../scss/_common.scss */
#top-breadcrumb {
  line-height: 40px; }
  /* line 152, ../scss/_common.scss */
  #top-breadcrumb .home {
    color: #d90000;
    text-decoration: underline; }
  /* line 156, ../scss/_common.scss */
  #top-breadcrumb a:hover {
    color: #d90000;
    text-decoration: none; }

/* line 162, ../scss/_common.scss */
.sub-navi-info {
  border-top: 1px solid #0182bd;
  background-color: #d90000; }
  /* line 165, ../scss/_common.scss */
  .sub-navi-info .sub-navi {
    margin: 0 auto; }
    /* line 167, ../scss/_common.scss */
    .sub-navi-info .sub-navi ul {
      float: left;
      list-style: none;
      margin: 0px;
      padding: 0px; }
      /* line 172, ../scss/_common.scss */
      .sub-navi-info .sub-navi ul li {
        float: left;
        background: #d90000 url("../img/common/subnavi_line.jpg") 0 0 no-repeat;
        background-position: 0; }
        /* line 176, ../scss/_common.scss */
        .sub-navi-info .sub-navi ul li a {
          display: block;
          padding: 25px 0;
          color: white;
          text-align: center;
          font-size: 16px; }
      /* line 185, ../scss/_common.scss */
      .sub-navi-info .sub-navi ul > li:hover > a {
        margin-left: 1px;
        color: white;
        background-color: #0090d1; }
    /* line 192, ../scss/_common.scss */
    .sub-navi-info .sub-navi .sub-navi-space {
      float: left;
      line-height: 71px; }

@media (min-width: 700px) and (max-width: 769px) {
  /* line 201, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 204, ../scss/_common.scss */
  .sub-navi ul li {
    width: 170px !important; } }
@media (min-width: 620px) and (max-width: 700px) {
  /* line 207, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 210, ../scss/_common.scss */
  .sub-navi ul li {
    width: 150px !important; } }
@media (min-width: 560px) and (max-width: 620px) {
  /* line 213, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 216, ../scss/_common.scss */
  .sub-navi ul li {
    width: 135px !important; } }
@media (min-width: 483px) and (max-width: 560px) {
  /* line 220, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 223, ../scss/_common.scss */
  .sub-navi ul li {
    width: 115px !important; } }
@media (min-width: 423px) and (max-width: 483px) {
  /* line 227, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 230, ../scss/_common.scss */
  .sub-navi ul li {
    width: 100px !important; }
    /* line 232, ../scss/_common.scss */
    .sub-navi ul li a {
      font-size: 12px; } }
@media (min-width: 382px) and (max-width: 423px) {
  /* line 237, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 240, ../scss/_common.scss */
  .sub-navi ul li {
    width: 90px !important; }

  /* line 243, ../scss/_common.scss */
  .sub-navi ul li a {
    font-size: 10px !important; } }
@media (min-width: 320px) and (max-width: 374px) {
  /* line 247, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 250, ../scss/_common.scss */
  .sub-navi ul li {
    width: 73px !important; }

  /* line 253, ../scss/_common.scss */
  .sub-navi ul li a {
    font-size: 10px !important; } }
@media (min-width: 375px) and (max-width: 383px) {
  /* line 257, ../scss/_common.scss */
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  /* line 260, ../scss/_common.scss */
  .sub-navi ul li {
    width: 87px !important; }

  /* line 263, ../scss/_common.scss */
  .sub-navi ul li a {
    font-size: 10px !important; } }
@media screen and (min-width: 768px) {
  /* line 268, ../scss/_common.scss */
  .sub-navi ul {
    margin: 0 auto !important; }

  /* line 271, ../scss/_common.scss */
  .sub-navi ul li {
    width: 179px; } }
@media screen and (min-width: 992px) {
  /* line 275, ../scss/_common.scss */
  .sub-navi ul {
    margin: 0 auto !important; }

  /* line 278, ../scss/_common.scss */
  .sub-navi ul li {
    width: 234px; } }
@media screen and (min-width: 1200px) {
  /* line 282, ../scss/_common.scss */
  .sub-navi ul {
    margin: 0 auto !important; }

  /* line 285, ../scss/_common.scss */
  .sub-navi ul li {
    width: 234px; } }
/* line 287, ../scss/_common.scss */
#wrapper.lg, #wrapper.ie, #wrapper.md, #wrapper.sm, #wrapper.xs {
  /* globalNavi */ }
  /* line 288, ../scss/_common.scss */
  #wrapper.lg #menu-toggle, #wrapper.ie #menu-toggle, #wrapper.md #menu-toggle, #wrapper.sm #menu-toggle, #wrapper.xs #menu-toggle {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #FFF; }
  /* line 294, ../scss/_common.scss */
  #wrapper.lg .globalNavi-bg, #wrapper.ie .globalNavi-bg, #wrapper.md .globalNavi-bg, #wrapper.sm .globalNavi-bg, #wrapper.xs .globalNavi-bg {
    border-bottom: 3px solid #d90000;
    padding-bottom: 15px; }
    /* line 297, ../scss/_common.scss */
    #wrapper.lg .globalNavi-bg .globalNavi, #wrapper.ie .globalNavi-bg .globalNavi, #wrapper.md .globalNavi-bg .globalNavi, #wrapper.sm .globalNavi-bg .globalNavi, #wrapper.xs .globalNavi-bg .globalNavi {
      margin: 0 auto; }
      /* line 299, ../scss/_common.scss */
      #wrapper.lg .globalNavi-bg .globalNavi ul, #wrapper.ie .globalNavi-bg .globalNavi ul, #wrapper.md .globalNavi-bg .globalNavi ul, #wrapper.sm .globalNavi-bg .globalNavi ul, #wrapper.xs .globalNavi-bg .globalNavi ul {
        list-style: none;
        margin: 0px;
        padding: 0px; }
        /* line 303, ../scss/_common.scss */
        #wrapper.lg .globalNavi-bg .globalNavi ul li, #wrapper.ie .globalNavi-bg .globalNavi ul li, #wrapper.md .globalNavi-bg .globalNavi ul li, #wrapper.sm .globalNavi-bg .globalNavi ul li, #wrapper.xs .globalNavi-bg .globalNavi ul li {
          float: left;
          position: relative;
          border-left: 1px dotted #333333; }
          /* line 307, ../scss/_common.scss */
          #wrapper.lg .globalNavi-bg .globalNavi ul li a, #wrapper.ie .globalNavi-bg .globalNavi ul li a, #wrapper.md .globalNavi-bg .globalNavi ul li a, #wrapper.sm .globalNavi-bg .globalNavi ul li a, #wrapper.xs .globalNavi-bg .globalNavi ul li a {
            display: block;
            padding: 10px;
            color: #333333;
            background: url("../img/top/top_nav_off.png") right bottom no-repeat;
            text-align: center;
            font-size: 16px;
            font-weight: bold; }
          /* line 318, ../scss/_common.scss */
          #wrapper.lg .globalNavi-bg .globalNavi ul li ul, #wrapper.ie .globalNavi-bg .globalNavi ul li ul, #wrapper.md .globalNavi-bg .globalNavi ul li ul, #wrapper.sm .globalNavi-bg .globalNavi ul li ul, #wrapper.xs .globalNavi-bg .globalNavi ul li ul {
            background: white none no-repeat 0 0 scroll; }
        /* line 323, ../scss/_common.scss */
        #wrapper.lg .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.ie .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.md .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.sm .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.xs .globalNavi-bg .globalNavi ul > li:hover > a {
          color: white;
          background: url("../img/top/top_nav_on.png") right bottom no-repeat #d90000; }
        /* line 328, ../scss/_common.scss */
        #wrapper.lg .globalNavi-bg .globalNavi ul li:last-child, #wrapper.ie .globalNavi-bg .globalNavi ul li:last-child, #wrapper.md .globalNavi-bg .globalNavi ul li:last-child, #wrapper.sm .globalNavi-bg .globalNavi ul li:last-child, #wrapper.xs .globalNavi-bg .globalNavi ul li:last-child {
          border-right: 1px dotted #333333; }
        /* line 331, ../scss/_common.scss */
        #wrapper.lg .globalNavi-bg .globalNavi ul ul, #wrapper.ie .globalNavi-bg .globalNavi ul ul, #wrapper.md .globalNavi-bg .globalNavi ul ul, #wrapper.sm .globalNavi-bg .globalNavi ul ul, #wrapper.xs .globalNavi-bg .globalNavi ul ul {
          z-index: 100;
          position: absolute;
          top: 41px;
          display: none; }
          /* line 336, ../scss/_common.scss */
          #wrapper.lg .globalNavi-bg .globalNavi ul ul li, #wrapper.ie .globalNavi-bg .globalNavi ul ul li, #wrapper.md .globalNavi-bg .globalNavi ul ul li, #wrapper.sm .globalNavi-bg .globalNavi ul ul li, #wrapper.xs .globalNavi-bg .globalNavi ul ul li {
            border-left: none; }
            /* line 338, ../scss/_common.scss */
            #wrapper.lg .globalNavi-bg .globalNavi ul ul li a, #wrapper.ie .globalNavi-bg .globalNavi ul ul li a, #wrapper.md .globalNavi-bg .globalNavi ul ul li a, #wrapper.sm .globalNavi-bg .globalNavi ul ul li a, #wrapper.xs .globalNavi-bg .globalNavi ul ul li a {
              border-bottom: 1px dotted #333333;
              text-align: left;
              font-weight: normal; }
          /* line 344, ../scss/_common.scss */
          #wrapper.lg .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.ie .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.md .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.sm .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.xs .globalNavi-bg .globalNavi ul ul li:last-child {
            border-right: none; }
          /* line 347, ../scss/_common.scss */
          #wrapper.lg .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.ie .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.md .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.sm .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.xs .globalNavi-bg .globalNavi ul ul li:first-child {
            border-top: 1px solid #ccc; }
        /* line 352, ../scss/_common.scss */
        #wrapper.lg .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.ie .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.md .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.sm .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.xs .globalNavi-bg .globalNavi ul li:hover ul {
          display: block; }

@media screen and (min-width: 1200px) {
  /* line 360, ../scss/_common.scss */
  .globalNavi ul {
    margin: 0 auto !important; }

  /* line 363, ../scss/_common.scss */
  .globalNavi ul li {
    width: 188px; } }
/* line 365, ../scss/_common.scss */
#wrapper.ie .globalNavi ul li {
  width: 188px; }

@media screen and (max-width: 768px) {
  /* line 368, ../scss/_common.scss */
  .globalNavi ul {
    margin: 0 auto !important; }

  /* line 371, ../scss/_common.scss */
  .globalNavi ul li {
    width: 145px; } }
@media screen and (min-width: 768px) {
  /* line 376, ../scss/_common.scss */
  .globalNavi ul {
    margin: 0 auto !important; }

  /* line 379, ../scss/_common.scss */
  .globalNavi ul li {
    width: 143px; } }
@media screen and (min-width: 992px) {
  /* line 383, ../scss/_common.scss */
  .globalNavi ul {
    margin: 0 auto !important; }

  /* line 386, ../scss/_common.scss */
  .globalNavi ul li {
    width: 188px; } }
/* line 390, ../scss/_common.scss */
#wrapper.ie .toggle-btn-wrap, #wrapper.lg .toggle-btn-wrap, #wrapper.md .toggle-btn-wrap, #wrapper.sm .toggle-btn-wrap {
  display: none; }

/* line 395, ../scss/_common.scss */
#content {
  background: white none no-repeat 0 0 scroll;
  margin: 20px 0 30px; }
  /* line 399, ../scss/_common.scss */
  #content #primary .primary-row {
    margin-top: 40px; }
    /* line 401, ../scss/_common.scss */
    #content #primary .primary-row .primary-row {
      margin-top: 20px; }
    /* line 404, ../scss/_common.scss */
    #content #primary .primary-row .primary-row:first-child {
      margin-top: 0px; }
  /* line 409, ../scss/_common.scss */
  #content #primary .top-main1 {
    border: 1px solid #cccccc;
    height: 280px !important; }
    /* line 412, ../scss/_common.scss */
    #content #primary .top-main1 .top-main1-title {
      line-height: 40px;
      background-color: #d90000;
      font-size: 20px;
      color: white;
      text-align: center; }
    /* line 419, ../scss/_common.scss */
    #content #primary .top-main1 .top-main1-img {
      text-align: center;
      padding: 5px; }
    /* line 423, ../scss/_common.scss */
    #content #primary .top-main1 .top-main1-text {
      text-align: center;
      padding: 0 5px 15px; }
  /* line 429, ../scss/_common.scss */
  #content #primary .top-status {
    line-height: 1.5em;
    color: #d90000;
    text-align: center;
    font-size: 30px;
    font-weight: bold; }
  /* line 440, ../scss/_common.scss */
  #content #primary .top-main2 .top-main2-title {
    text-shadow: 0 1px #ffffff;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-left: 3px solid #d90000;
    font-size: 18px;
    font-weight: bold; }
  /* line 454, ../scss/_common.scss */
  #content #primary .top-main2-content {
    border-top: 1px dotted #7f7f7f;
    padding-top: 20px; }
  /* line 459, ../scss/_common.scss */
  #content #primary .top-blog {
    text-align: left;
    list-style: none;
    margin: 0 10px;
    padding: 0; }
    /* line 464, ../scss/_common.scss */
    #content #primary .top-blog li {
      border-bottom: 1px solid #e3e1d7;
      border-top: 1px solid #e3e1d7;
      display: block;
      height: 70px;
      padding-top: 25px; }
      /* line 470, ../scss/_common.scss */
      #content #primary .top-blog li .top-blog-date {
        color: #e28414;
        font-weight: bold;
        margin-left: -10px; }
      /* line 475, ../scss/_common.scss */
      #content #primary .top-blog li .fa {
        margin-top: -29px;
        margin-right: 10px;
        float: right;
        font-size: 30px; }
  /* line 483, ../scss/_common.scss */
  #content #primary .top-more-blog a {
    float: right;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    font-size: 11px;
    line-height: 105%;
    background: url("../img/top/top_blog_off.png") right bottom no-repeat #efefef;
    border-left: 4px solid #d90000;
    padding: 5px 15px 5px 11px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }
  /* line 495, ../scss/_common.scss */
  #content #primary .top-more-blog a:hover {
    color: white;
    background: url("..img/top/top_blog_on.png") right bottom no-repeat #666666; }
  /* line 500, ../scss/_common.scss */
  #content #primary .top-h2 {
    text-shadow: 0 1px white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 3px solid #d90000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
    /* line 511, ../scss/_common.scss */
    #content #primary .top-h2 .top-rss a {
      float: right;
      text-align: center;
      border: 1px solid #e6e6e6;
      font-family: 'Lato', sans-serif;
      padding: 2px 8px;
      box-shadow: inset 0 1px 0px white;
      background: linear-gradient(to bottom, #fcfcfc, #efefef);
      /* IE10, Firefox 16.0+, Opera 12.50+ */
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#efefef));
      background: -moz-linear-gradient(#fcfcfc, #efefef);
      background: linear-gradient(#fcfcfc, #efefef);
      -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fcfcfc, EndColorStr=#efefef)"; }
    /* line 524, ../scss/_common.scss */
    #content #primary .top-h2 .top-rss a:hover {
      color: #333333;
      box-shadow: inset 0 1px 0px white;
      background: linear-gradient(to bottom, #fcfcfc, #d5e9cc);
      /* IE10, Firefox 16.0+, Opera 12.50+ */
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#d5e9cc));
      background: -moz-linear-gradient(#fcfcfc, #d5e9cc);
      background: linear-gradient(#fcfcfc, #d5e9cc);
      -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fcfcfc, EndColorStr=#d5e9cc)"; }
  /* line 535, ../scss/_common.scss */
  #content #primary .h3-title {
    text-shadow: 0 1px white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 3px solid #d90000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  /* line 547, ../scss/_common.scss */
  #content #primary .top-main3 {
    background: url("../img/top/top_main3_img.jpg") repeat-x 50% 0;
    height: 450px;
    text-align: center;
    color: white; }
    /* line 552, ../scss/_common.scss */
    #content #primary .top-main3 .top-main3-content {
      height: 450px;
      background-color: rgba(51, 51, 51, 0.6); }
      /* line 555, ../scss/_common.scss */
      #content #primary .top-main3 .top-main3-content .top-main3-title {
        padding-top: 180px;
        font-size: 30px; }
      /* line 559, ../scss/_common.scss */
      #content #primary .top-main3 .top-main3-content .top-main3-text {
        padding-top: 40px; }
  /* line 565, ../scss/_common.scss */
  #content #primary .top-main4 {
    margin: 0px auto;
    background: url("../img/top/top_main4_bg.jpg") 0 0 no-repeat;
    height: auto;
    background-size: cover;
    text-align: center;
    color: white; }
    /* line 572, ../scss/_common.scss */
    #content #primary .top-main4 .top-main4-title {
      padding-top: 60px;
      font-size: 30px;
      line-height: 1.4 !important; }
    /* line 577, ../scss/_common.scss */
    #content #primary .top-main4 .top-main4-text {
      padding: 20px 0 30px; }
    /* line 580, ../scss/_common.scss */
    #content #primary .top-main4 img {
      padding: 0px;
      border-top: 6px solid rgba(0, 0, 0, 0.6);
      border-bottom: 6px solid rgba(0, 0, 0, 0.6);
      border-right: 3px solid rgba(0, 0, 0, 0.6);
      border-left: 3px solid rgba(0, 0, 0, 0.6);
      width: 240px;
      height: 160px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden; }
  /* line 597, ../scss/_common.scss */
  #content #primary .top-redmore {
    float: right;
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc; }
  /* line 606, ../scss/_common.scss */
  #content #primary .wpcf7 input,
  #content #primary .wpcf7 select,
  #content #primary .wpcf7 textarea {
    width: 100%; }
  /* line 609, ../scss/_common.scss */
  #content #primary .wpcf7c-btn-confirm {
    width: 50% !important; }
  /* line 612, ../scss/_common.scss */
  #content #primary .wpcf7-submit, #content #primary .wpcf7c-btn-back {
    width: 45% !important; }

/* end content */
/* line 618, ../scss/_common.scss */
#wrapper.lg, #wrapper.md {
  /*.pladan-main3-img img{
  	width: 300px;
  	height: 200px;
  }*/ }
  /* line 624, ../scss/_common.scss */
  #wrapper.lg .top-blog li, #wrapper.md .top-blog li {
    padding-top: 25px !important; }

/* line 632, ../scss/_common.scss */
#wrapper.sm .top-blog li, #wrapper.xs .top-blog li {
  padding-top: 15px !important; }
  /* line 634, ../scss/_common.scss */
  #wrapper.sm .top-blog li .top-blog-date, #wrapper.xs .top-blog li .top-blog-date {
    color: #e28414;
    font-weight: bold;
    margin-left: -10px; }
  /* line 639, ../scss/_common.scss */
  #wrapper.sm .top-blog li .top-blog-title, #wrapper.xs .top-blog li .top-blog-title {
    margin-left: -10px; }
  /* line 642, ../scss/_common.scss */
  #wrapper.sm .top-blog li .fa, #wrapper.xs .top-blog li .fa {
    margin-top: -40px !important;
    margin-right: 10px;
    float: right;
    font-size: 30px; }

/* line 652, ../scss/_common.scss */
#wrapper.md, #wrapper.sm, #wrapper.xs {
  /*-------  top-page ------*/
  /*-------  pallet-page  ------*/
  /*-------  pladan-page  ------*/
  /*-------  strength-page  ------*/
  /*-------  greeting-page  ------*/
  /*-------  workshop-page  ------*/ }
  /* line 654, ../scss/_common.scss */
  #wrapper.md .top-main4, #wrapper.sm .top-main4, #wrapper.xs .top-main4 {
    margin: 0px auto;
    background: url("../img/top/top_main4_bg.jpg") center 0 no-repeat;
    height: auto;
    background-size: cover;
    text-align: justify;
    color: white; }
    /* line 661, ../scss/_common.scss */
    #wrapper.md .top-main4 .top-main4-title, #wrapper.sm .top-main4 .top-main4-title, #wrapper.xs .top-main4 .top-main4-title {
      padding-top: 15px !important;
      font-size: 16px !important;
      line-height: 1.4 !important; }
    /* line 666, ../scss/_common.scss */
    #wrapper.md .top-main4 .top-main4-text, #wrapper.sm .top-main4 .top-main4-text, #wrapper.xs .top-main4 .top-main4-text {
      padding: 10px 0 5px !important; }
    /* line 669, ../scss/_common.scss */
    #wrapper.md .top-main4 .top-main-slider, #wrapper.sm .top-main4 .top-main-slider, #wrapper.xs .top-main4 .top-main-slider {
      margin: 0 auto; }
    /* line 672, ../scss/_common.scss */
    #wrapper.md .top-main4 img, #wrapper.sm .top-main4 img, #wrapper.xs .top-main4 img {
      padding: 0px;
      border-top: 6px solid rgba(0, 0, 0, 0.6);
      border-bottom: 6px solid rgba(0, 0, 0, 0.6);
      border-right: 3px solid rgba(0, 0, 0, 0.6);
      border-left: 3px solid rgba(0, 0, 0, 0.6);
      width: 140px !important;
      height: 93px !important;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden; }
  /* line 690, ../scss/_common.scss */
  #wrapper.md .top-main3, #wrapper.sm .top-main3, #wrapper.xs .top-main3 {
    background: url("../img/top/top_main3_img_sm.jpg") no-repeat 0 0 scroll !important;
    height: 254px !important;
    background-size: cover !important;
    color: white; }
    /* line 695, ../scss/_common.scss */
    #wrapper.md .top-main3 .top-main3-content, #wrapper.sm .top-main3 .top-main3-content, #wrapper.xs .top-main3 .top-main3-content {
      height: 254px !important;
      background-color: rgba(51, 51, 51, 0.6); }
      /* line 698, ../scss/_common.scss */
      #wrapper.md .top-main3 .top-main3-content .top-main3-title, #wrapper.sm .top-main3 .top-main3-content .top-main3-title, #wrapper.xs .top-main3 .top-main3-content .top-main3-title {
        text-align: center;
        padding-top: 20px !important;
        font-size: 18px !important; }
      /* line 703, ../scss/_common.scss */
      #wrapper.md .top-main3 .top-main3-content .top-main3-text, #wrapper.sm .top-main3 .top-main3-content .top-main3-text, #wrapper.xs .top-main3 .top-main3-content .top-main3-text {
        text-align: justify !important;
        padding-top: 15px !important;
        font-size: 13px !important; }
  /* line 713, ../scss/_common.scss */
  #wrapper.md .pallet-main1 .pallet-main1-text1, #wrapper.md .pallet-main1 .pallet-main1-text2, #wrapper.sm .pallet-main1 .pallet-main1-text1, #wrapper.sm .pallet-main1 .pallet-main1-text2, #wrapper.xs .pallet-main1 .pallet-main1-text1, #wrapper.xs .pallet-main1 .pallet-main1-text2 {
    text-align: center;
    color: #d90000;
    font-size: 16px;
    font-weight: bold; }
  /* line 721, ../scss/_common.scss */
  #wrapper.md .pallet-main1 .pallet-main1-text2, #wrapper.sm .pallet-main1 .pallet-main1-text2, #wrapper.xs .pallet-main1 .pallet-main1-text2 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold; }
  /* line 729, ../scss/_common.scss */
  #wrapper.md .pallet-main1 .pallet-main1-text3, #wrapper.sm .pallet-main1 .pallet-main1-text3, #wrapper.xs .pallet-main1 .pallet-main1-text3 {
    text-align: center;
    padding: 20px 0 10px; }
  /* line 734, ../scss/_common.scss */
  #wrapper.md .pallet-title, #wrapper.sm .pallet-title, #wrapper.xs .pallet-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #d90000;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
  /* line 749, ../scss/_common.scss */
  #wrapper.md .pladan-main1 .pladan-main1-text1, #wrapper.md .pladan-main1 .pladan-main1-text2, #wrapper.sm .pladan-main1 .pladan-main1-text1, #wrapper.sm .pladan-main1 .pladan-main1-text2, #wrapper.xs .pladan-main1 .pladan-main1-text1, #wrapper.xs .pladan-main1 .pladan-main1-text2 {
    text-align: center;
    color: #d90000;
    font-size: 16px;
    font-weight: bold; }
  /* line 757, ../scss/_common.scss */
  #wrapper.md .pladan-main1 .pladan-main1-text2, #wrapper.sm .pladan-main1 .pladan-main1-text2, #wrapper.xs .pladan-main1 .pladan-main1-text2 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold; }
  /* line 765, ../scss/_common.scss */
  #wrapper.md .pladan-main1 .pladan-main1-text3, #wrapper.sm .pladan-main1 .pladan-main1-text3, #wrapper.xs .pladan-main1 .pladan-main1-text3 {
    text-align: center;
    padding: 20px 0 10px; }
  /* line 770, ../scss/_common.scss */
  #wrapper.md .pladan-title, #wrapper.sm .pladan-title, #wrapper.xs .pladan-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #d90000;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
  /* line 783, ../scss/_common.scss */
  #wrapper.md .strength-content1-bg, #wrapper.sm .strength-content1-bg, #wrapper.xs .strength-content1-bg {
    padding: 40px 0 20px; }
  /* line 786, ../scss/_common.scss */
  #wrapper.md .strength-title, #wrapper.sm .strength-title, #wrapper.xs .strength-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #d90000;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: bold; }
  /* line 801, ../scss/_common.scss */
  #wrapper.md .greeting-content .greeting-content-title, #wrapper.sm .greeting-content .greeting-content-title, #wrapper.xs .greeting-content .greeting-content-title {
    font-size: 24px; }
  /* line 807, ../scss/_common.scss */
  #wrapper.md .workshop-main1 .workshop-main1-title, #wrapper.md .workshop-slider-title, #wrapper.sm .workshop-main1 .workshop-main1-title, #wrapper.sm .workshop-slider-title, #wrapper.xs .workshop-main1 .workshop-main1-title, #wrapper.xs .workshop-slider-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #d90000;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }

/* line 821, ../scss/_common.scss */
#wrapper.md #page-feature, #wrapper.sm #page-feature {
  padding-top: 169px; }
  /* line 823, ../scss/_common.scss */
  #wrapper.md #page-feature .page-feature-content, #wrapper.sm #page-feature .page-feature-content {
    position: relative; }
    /* line 825, ../scss/_common.scss */
    #wrapper.md #page-feature .page-feature-content .feature-title, #wrapper.sm #page-feature .page-feature-content .feature-title {
      position: absolute;
      font-size: 25px;
      text-shadow: 0 1px #333;
      color: white;
      top: -65px !important; }
/* line 836, ../scss/_common.scss */
#wrapper.md #content #primary img, #wrapper.sm #content #primary img {
  max-width: 100%; }
/* line 837, ../scss/_common.scss */
#wrapper.md #content #primary .primary-row:first-child, #wrapper.sm #content #primary .primary-row:first-child {
  margin-top: 0px; }
/* line 840, ../scss/_common.scss */
#wrapper.md #content #primary .top-status, #wrapper.sm #content #primary .top-status {
  font-size: 20px !important; }
/* line 844, ../scss/_common.scss */
#wrapper.md #content #primary .company-table-content tr th, #wrapper.md #content #primary .history-table-content tr th, #wrapper.sm #content #primary .company-table-content tr th, #wrapper.sm #content #primary .history-table-content tr th {
  width: 20% !important; }
/* line 849, ../scss/_common.scss */
#wrapper.md #content #primary .message-row .message-col, #wrapper.sm #content #primary .message-row .message-col {
  text-align: center;
  float: left;
  margin-bottom: 20px; }

/* line 859, ../scss/_common.scss */
#wrapper.sm {
  /*#content #primary .top-main1 .top-main1-title{font-size: 18px;}
  .pladan-main3-img img{
  	width: 227px;
  	height: 151px;
  }*/ }
  /* line 868, ../scss/_common.scss */
  #wrapper.sm .pladan-main3-sm .pladan-main3 .pladan-main3-img img {
    min-width: 100%;
    height: auto; }

/* line 877, ../scss/_common.scss */
#wrapper.xs .pladan-main3-sm {
  width: 100% !important; }
  /* line 880, ../scss/_common.scss */
  #wrapper.xs .pladan-main3-sm .pladan-main3 .pladan-main3-img {
    min-width: 100%; }
  /* line 883, ../scss/_common.scss */
  #wrapper.xs .pladan-main3-sm .pladan-main3 .pladan-main3-title {
    width: 100%; }
  /* line 886, ../scss/_common.scss */
  #wrapper.xs .pladan-main3-sm .pladan-main3 .pladan-main3-text {
    width: 100%; }
/* line 892, ../scss/_common.scss */
#wrapper.xs #page-feature .page-feature-content {
  position: relative; }
  /* line 894, ../scss/_common.scss */
  #wrapper.xs #page-feature .page-feature-content .feature-title {
    position: absolute;
    font-size: 18px;
    text-shadow: 0 1px #333;
    color: white;
    top: -45px; }
/* line 905, ../scss/_common.scss */
#wrapper.xs #content #primary img {
  max-width: 100%; }
/* line 908, ../scss/_common.scss */
#wrapper.xs #content #primary .primary-row:first-child {
  margin-top: 0px; }
/* line 911, ../scss/_common.scss */
#wrapper.xs #content #primary .top-status {
  font-size: 15px !important; }
/* line 915, ../scss/_common.scss */
#wrapper.xs #content #primary .message-row .message-col {
  text-align: center;
  float: left;
  margin-bottom: 20px; }

/* line 925, ../scss/_common.scss */
#footer {
  background-color: #d90000;
  padding: 20px 0;
  color: white;
  text-align: center; }
  /* line 930, ../scss/_common.scss */
  #footer .footer-title {
    font-size: 20px;
    font-weight: bold; }
  /* line 936, ../scss/_common.scss */
  #footer .footer-info {
    margin-top: 20px;
    line-height: 1.5em; }

/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/
/* line 945, ../scss/_common.scss */
.nav {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }

/* line 953, ../scss/_common.scss */
.nav-list {
  text-align: left;
  list-style: none;
  /*add*/
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border-top: 2px solid #d90000; }

/* line 961, ../scss/_common.scss */
.nav-item {
  float: left;
  *display: inline;
  zoom: 1;
  position: relative;
  background: white; }

/* line 969, ../scss/_common.scss */
.nav-item a {
  color: #333333;
  display: block;
  padding: 10px;
  border-bottom: 1px dotted #333333;
  background: url("../img/top/top_nav_off.png") right bottom no-repeat; }

/* line 976, ../scss/_common.scss */
.nav-item > a:hover {
  color: white;
  background: url("../img/top/top_nav_on.png") right bottom no-repeat #d90000; }

/* line 980, ../scss/_common.scss */
.nav-item:hover .nav-submenu {
  display: block; }

/* Navigation submenu */
/* line 984, ../scss/_common.scss */
.nav-submenu {
  list-style: none;
  display: none;
  position: absolute;
  left: 0;
  width: 180px; }

/* line 991, ../scss/_common.scss */
.nav-submenu-item {
  background: white; }

/* line 994, ../scss/_common.scss */
.nav-submenu-item a {
  color: #333333;
  display: block;
  padding-left: 30px;
  background: url("../img/top/top_nav_off.png") right bottom no-repeat;
  border-bottom: none; }

/* line 1001, ../scss/_common.scss */
.nav-submenu-item a:hover {
  background: url("../img/top/top_nav_on.png") right bottom no-repeat #d90000;
  color: white; }

/* line 1005, ../scss/_common.scss */
li.nav-submenu-item:last-child {
  border-bottom: 1px dotted #333333; }

/* Mobile navigation */
/* line 1009, ../scss/_common.scss */
.nav-mobile {
  display: none;
  /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
  background: #d90000 url(../img/common/nav.svg) no-repeat center center;
  /*background: url("../img/common/nav.svg") no-repeat;*/
  background-size: 18px;
  height: 40px;
  width: 40px;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px; }

/* Mobile navigation, clickable area for revealing <ul> */
/* line 1025, ../scss/_common.scss */
.nav-click {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 41px;
  width: 41px;
  cursor: pointer;
  background-color: #d90000; }

/* line 1035, ../scss/_common.scss */
.nav-click i {
  display: block;
  height: 41px;
  width: 41px;
  background: url("../img/common/drop.svg") no-repeat center center;
  background-size: 12px; }

/* line 1042, ../scss/_common.scss */
.nav-click:hover {
  background-color: #d90000; }

/* line 1045, ../scss/_common.scss */
.nav-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 1053, ../scss/_common.scss */
.nav-itemclr {
  background-color: #d90000; }

/* line 1054, ../scss/_common.scss */
.nav-itemclr-a {
  color: white !important; }

/*------------------------------------*\
    Media Queries
\*------------------------------------*/
@media only screen and (max-width: 768px) {
  /* line 1061, ../scss/_common.scss */
  #headerContent {
    position: relative; }

  /* line 1064, ../scss/_common.scss */
  .top-main1 {
    margin-bottom: 20px; }

  /* line 1067, ../scss/_common.scss */
  #top-header {
    position: relative; }

  /* line 1070, ../scss/_common.scss */
  #slider-banner, #page-feature {
    padding-top: 0 !important; }

  /* line 1073, ../scss/_common.scss */
  .top-main2-infotext, .strength-top-infotext {
    width: 100%;
    text-align: left;
    margin-bottom: 20px; }

  /* line 1078, ../scss/_common.scss */
  .top-main2-infoimg, .strength-top-infoimg {
    width: 100%;
    text-align: center; }

  /* line 1083, ../scss/_common.scss */
  .quality-content1-text, .quality-content3-text {
    width: 100%;
    text-align: left; }

  /* line 1088, ../scss/_common.scss */
  .quality-content1-img, .quality-content3-img {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }

  /* line 1093, ../scss/_common.scss */
  .top-main3 {
    background: url("../img/top/top_main3_img.jpg") repeat-x 50% 0;
    background-size: cover !important;
    height: 254px !important;
    text-align: center;
    color: white; }
    /* line 1099, ../scss/_common.scss */
    .top-main3 .top-main3-content {
      height: 254px !important;
      background-color: rgba(51, 51, 51, 0.6); }
      /* line 1102, ../scss/_common.scss */
      .top-main3 .top-main3-content .top-main3-title {
        padding-top: 40px !important;
        font-size: 18px !important; }
      /* line 1106, ../scss/_common.scss */
      .top-main3 .top-main3-content .top-main3-text {
        padding-top: 20px;
        text-align: left; }

  /*----- page-pallet ----*/
  /* line 1114, ../scss/_common.scss */
  .pallet-main2-sm {
    width: 100%; }
    /* line 1117, ../scss/_common.scss */
    .pallet-main2-sm .pallet-main2 .pallet-main2-point {
      min-width: 100% !important; }
    /* line 1120, ../scss/_common.scss */
    .pallet-main2-sm .pallet-main2 .pallet-main2-title {
      width: 100%; }
    /* line 1123, ../scss/_common.scss */
    .pallet-main2-sm .pallet-main2 .pallet-main2-text {
      width: 100%; }

  /* line 1128, ../scss/_common.scss */
  .pallet-main3-sm {
    width: 100%; }
    /* line 1131, ../scss/_common.scss */
    .pallet-main3-sm .pallet-main3 .pallet-main3-img {
      min-width: 100%; }
    /* line 1134, ../scss/_common.scss */
    .pallet-main3-sm .pallet-main3 .pallet-main3-title {
      width: 100%; }
    /* line 1137, ../scss/_common.scss */
    .pallet-main3-sm .pallet-main3 .pallet-main3-text {
      width: 100%; }

  /*----- page-pladan ----*/
  /* line 1144, ../scss/_common.scss */
  .pladan-main2 {
    width: 100%; }
    /* line 1146, ../scss/_common.scss */
    .pladan-main2 .pladan-main2-point {
      width: 15% !important;
      margin-bottom: 10px; }
    /* line 1150, ../scss/_common.scss */
    .pladan-main2 .pladan-main2-text {
      width: 100%;
      padding-left: 0 !important; }

  /*----- page-pladan ----*/
  /* line 1157, ../scss/_common.scss */
  .strength-content1-sm {
    width: 100%; }
    /* line 1160, ../scss/_common.scss */
    .strength-content1-sm .strength-content1 .strength-content1-img {
      min-width: 100%; }
    /* line 1163, ../scss/_common.scss */
    .strength-content1-sm .strength-content1 .strength-content1-title {
      width: 100%; }
    /* line 1166, ../scss/_common.scss */
    .strength-content1-sm .strength-content1 .strength-content1-text {
      width: 100%; } }
@media only screen and (min-width: 768px) {
  /* line 1175, ../scss/_common.scss */
  #top-mobile {
    display: none; } }
@media all and (max-width: 768px) {
  /* line 1180, ../scss/_common.scss */
  nav #menu-toggle {
    display: none; }

  /* line 1183, ../scss/_common.scss */
  .top {
    display: none; } }
@media all and (min-width: 768px) {
  /* line 1188, ../scss/_common.scss */
  .nav {
    display: none; }

  /* line 1191, ../scss/_common.scss */
  .top {
    display: none; } }
@media only screen and (max-width: 768px) {
  /* line 1197, ../scss/_common.scss */
  header #header #headerContent .header-contact .headtel {
    font-size: 22px; }

  /* line 1198, ../scss/_common.scss */
  nav #menu-toggle {
    display: none; }

  /* line 1201, ../scss/_common.scss */
  #top {
    display: none; }

  /* line 1204, ../scss/_common.scss */
  .nav-mobile {
    display: block; }

  /* line 1207, ../scss/_common.scss */
  .nav {
    float: right;
    width: 100%; }

  /* line 1211, ../scss/_common.scss */
  .nav-list {
    display: none;
    padding-left: 0; }

  /* line 1215, ../scss/_common.scss */
  .nav-item {
    width: 100%;
    float: none; }

  /* line 1219, ../scss/_common.scss */
  .nav-item > a {
    padding: 10px; }

  /* line 1222, ../scss/_common.scss */
  .nav-click {
    display: block; }

  /* line 1225, ../scss/_common.scss */
  .nav-mobile-open {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0; }

  /* line 1230, ../scss/_common.scss */
  .nav-item:hover .nav-submenu {
    display: none; }

  /* line 1233, ../scss/_common.scss */
  .nav-submenu {
    position: static;
    width: 100%;
    padding-left: 0; } }
@media only screen and (max-width: 500px) {
  /* line 1241, ../scss/_common.scss */
  .top-main1 .top-main1-title {
    font-size: 15px !important; }

  /* line 1246, ../scss/_common.scss */
  #page-feature .page-feature-content {
    position: relative; }
    /* line 1248, ../scss/_common.scss */
    #page-feature .page-feature-content .feature-title {
      position: absolute;
      font-size: 15px !important;
      text-shadow: 0 1px #333;
      color: white;
      top: -30px !important; } }
@media screen and (max-width: 992px) and (min-width: 640px) {
  /* line 1262, ../scss/_common.scss */
  .pladan-main3-sm .pladan-main3 .pladan-main3-img img {
    min-width: 100%;
    height: auto; } }
@media only screen and (max-width: 640px) {
  /*----- page-company ----*/
  /* line 1272, ../scss/_common.scss */
  .company-table-content, .history-table-content {
    width: 100%; }
    /* line 1275, ../scss/_common.scss */
    .company-table-content tr th, .history-table-content tr th, .company-table-content tr td, .history-table-content tr td {
      border-top: none !important;
      text-align: left;
      display: block; }
    /* line 1281, ../scss/_common.scss */
    .company-table-content tr th, .history-table-content tr th {
      width: 100% !important; }
    /* line 1284, ../scss/_common.scss */
    .company-table-content tr:first-child th, .history-table-content tr:first-child th {
      border-top: 1px solid #ddd !important; }

  /* line 1288, ../scss/_common.scss */
  .pladan-main3-sm {
    width: 100% !important; }
    /* line 1291, ../scss/_common.scss */
    .pladan-main3-sm .pladan-main3 .pladan-main3-img {
      min-width: 100%; }
    /* line 1294, ../scss/_common.scss */
    .pladan-main3-sm .pladan-main3 .pladan-main3-title {
      width: 100%; }
    /* line 1297, ../scss/_common.scss */
    .pladan-main3-sm .pladan-main3 .pladan-main3-text {
      width: 100%; } }
